openapi: 3.0.3
info:
  title: D-ID Agents Credits API
  description: 'API for creating and managing interactive real-time AI agents that combine digital avatar streaming with large language models, RAG-based knowledge bases, and custom tools. Supports WebRTC and LiveKit-powered streaming sessions, conversation memory, chat export, and integration with third-party LLM providers. Enables face-to-face AI conversations at scale.

    '
  version: 1.0.0
  contact:
    url: https://www.d-id.com
  termsOfService: https://www.d-id.com/terms-of-use/
servers:
- url: https://api.d-id.com
  description: D-ID Production API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Credits
  description: Retrieve account credit balance
paths:
  /credits:
    get:
      operationId: getcredits
      summary: Get credits
      description: Retrieve the authenticated user's credit balance and expiration details.
      tags:
      - Credits
      responses:
        '200':
          description: User credit information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCredits'
        '404':
          description: No credits found for user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonError'
components:
  schemas:
    JsonError:
      type: object
      properties:
        kind:
          type: string
          description: Error type identifier.
          example: AuthorizationError
        description:
          type: string
          description: Human-readable error description.
          example: user unauthenticated
    CreditItem:
      type: object
      properties:
        owner_id:
          type: string
        remaining:
          type: number
          description: Available credits.
        total:
          type: number
          description: Total allocated credits.
        expire_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        modified_at:
          type: string
          format: date-time
        valid_from:
          type: string
          format: date-time
        product_id:
          type: string
        price_id:
          type: string
        plan_group:
          type: string
        product_billing_interval:
          type: string
    UserCredits:
      type: object
      properties:
        credits:
          type: array
          items:
            $ref: '#/components/schemas/CreditItem'
        remaining:
          type: number
          description: Aggregate remaining credits across all credit items.
        total:
          type: number
          description: Aggregate total credits across all credit items.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using API key as username.
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication.
    clientKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: Scoped client key for SDK embedding.
externalDocs:
  description: D-ID Agents API Reference
  url: https://docs.d-id.com/reference/agents
