openapi: 3.2.0
info:
  title: D-ID Videos Videos V4 API
  description: REST API for generating AI talking-head videos from a source image combined with a text script or audio file. Supports multiple avatar versions including V4 Expressive (full-HD with dynamic expressions), V3 Pro, V3 Instant (personal avatars from short clips), and V2 Photo avatars. Returns asynchronous job results via polling or webhook.
  version: 1.0.0
  contact:
    url: https://www.d-id.com
  termsOfService: https://www.d-id.com/terms-of-use/
servers:
- url: https://api.d-id.com
  description: D-ID Production API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Videos V4
  description: Generate V4 Expressive full-HD avatar videos
paths:
  /videos:
    get:
      operationId: listv4videos
      summary: List V4 videos
      description: Retrieve a paginated list of V4 Expressive avatar videos.
      tags:
      - Videos V4
      parameters:
      - name: limit
        in: query
        schema:
          type: number
          default: 100
      - name: token
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Paginated list of V4 videos.
          content:
            application/json:
              schema:
                type: object
                properties:
                  videos:
                    type: array
                    items:
                      $ref: '#/components/schemas/V4VideoDto'
                  token:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      operationId: createv4video
      summary: Create a V4 video
      description: Generate a V4 Expressive full-HD avatar video.
      tags:
      - Videos V4
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateV4VideoDto'
      responses:
        '201':
          description: V4 video created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V4VideoDto'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '402':
          $ref: '#/components/responses/PaymentRequired'
  /videos/{id}:
    get:
      operationId: getv4video
      summary: Get a V4 video
      description: Retrieve the status and result of a specific V4 video.
      tags:
      - Videos V4
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: V4 video object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V4VideoDto'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deletev4video
      summary: Delete a V4 video
      tags:
      - Videos V4
      parameters:
      - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          description: Deleted V4 video object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V4VideoDto'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    CreateV4VideoDto:
      type: object
      required:
      - script
      properties:
        script:
          $ref: '#/components/schemas/Script'
        presenter_id:
          type: string
          description: V4 avatar presenter identifier.
        config:
          type: object
          description: V4-specific configuration.
        webhook:
          type: string
          format: uri
        result_url:
          type: string
          format: uri
        user_data:
          type: string
          maxLength: 1000
    AudioScript:
      type: object
      required:
      - type
      - audio_url
      properties:
        type:
          type: string
          enum:
          - audio
        audio_url:
          type: string
          format: uri
          description: URL of the audio file (max 15 MB, 5–10 minutes duration).
    TextScript:
      type: object
      required:
      - type
      - input
      properties:
        type:
          type: string
          enum:
          - text
        input:
          type: string
          description: Text content to synthesize (3–40,000 characters).
          minLength: 3
          maxLength: 40000
        provider:
          type: object
          description: TTS provider configuration.
          properties:
            type:
              type: string
              enum:
              - microsoft
              - elevenlabs
              - amazon
              - google
              - azure-openai
            voice_id:
              type: string
              description: Voice identifier for the selected provider.
            language:
              type: string
              description: Language code for TTS synthesis.
    Script:
      oneOf:
      - $ref: '#/components/schemas/TextScript'
      - $ref: '#/components/schemas/AudioScript'
      discriminator:
        propertyName: type
    V4VideoDto:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: '#/components/schemas/TalkStatus'
        result_url:
          type: string
          format: uri
        created_at:
          type: string
          format: date-time
        modified_at:
          type: string
          format: date-time
        created_by:
          type: string
        user_data:
          type: string
    JsonError:
      type: object
      properties:
        kind:
          type: string
          description: Error type identifier.
          example: AuthorizationError
        description:
          type: string
          description: Human-readable error description.
          example: user unauthenticated
    TalkStatus:
      type: string
      enum:
      - created
      - started
      - done
      - error
      - rejected
      description: Processing status of a talk or video job.
  parameters:
    resourceId:
      name: id
      in: path
      required: true
      description: Unique resource identifier.
      schema:
        type: string
  responses:
    BadRequest:
      description: Bad request — invalid parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonError'
    NotFound:
      description: Resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonError'
          example:
            kind: NotFoundError
            description: not found
    Unauthorized:
      description: Authentication failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonError'
          example:
            kind: AuthorizationError
            description: user unauthenticated
    PaymentRequired:
      description: Insufficient credits.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/JsonError'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using API key as username.
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication.
externalDocs:
  description: D-ID API Reference
  url: https://docs.d-id.com/reference/get-started
