openapi: 3.2.0
info:
  title: D-ID Videos Credits API
  description: REST API for generating AI talking-head videos from a source image combined with a text script or audio file. Supports multiple avatar versions including V4 Expressive (full-HD with dynamic expressions), V3 Pro, V3 Instant (personal avatars from short clips), and V2 Photo avatars. Returns asynchronous job results via polling or webhook.
  version: 1.0.0
  contact:
    url: https://www.d-id.com
  termsOfService: https://www.d-id.com/terms-of-use/
servers:
- url: https://api.d-id.com
  description: D-ID Production API
security:
- basicAuth: []
- bearerAuth: []
tags:
- name: Credits
  description: Retrieve account credit balance
paths:
  /credits:
    get:
      operationId: getcredits
      summary: Get credits
      description: Retrieve the authenticated user's credit balance and expiration details.
      tags:
      - Credits
      responses:
        '200':
          description: User credit information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCredits'
        '404':
          description: No credits found for user.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonError'
components:
  schemas:
    JsonError:
      type: object
      properties:
        kind:
          type: string
          description: Error type identifier.
          example: AuthorizationError
        description:
          type: string
          description: Human-readable error description.
          example: user unauthenticated
    CreditItem:
      type: object
      properties:
        owner_id:
          type: string
        remaining:
          type: number
          description: Available credits.
        total:
          type: number
          description: Total allocated credits.
        expire_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        modified_at:
          type: string
          format: date-time
        valid_from:
          type: string
          format: date-time
        product_id:
          type: string
        price_id:
          type: string
        plan_group:
          type: string
        product_billing_interval:
          type: string
    UserCredits:
      type: object
      properties:
        credits:
          type: array
          items:
            $ref: '#/components/schemas/CreditItem'
        remaining:
          type: number
          description: Aggregate remaining credits across all credit items.
        total:
          type: number
          description: Aggregate total credits across all credit items.
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication using API key as username.
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication.
externalDocs:
  description: D-ID API Reference
  url: https://docs.d-id.com/reference/get-started
